/* Define height and width variables */
:root {
	--height: 3rem;
	--width: 3rem;
}

.money {
	/* style the money counter */
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 10rem;
	background-color: #fff;
	box-shadow: 0 0 0 1px #000;
	color: #000;
	font-size: 1.5rem;
	font-weight: 700;
	text-align: center;
	text-shadow: 0 0 0.5px #000;
}

.sideBtnsContainer {
	/* Set size */
	width: var(--width);
	height: var(--height);
	/* Set background color */
	background-color: #fff;
	/* Set border radius */
	border-radius: 50%;
	/* Set box shadow */
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	/* Set transition */
	transition: all 0.2s ease-in-out;
}

.financesBtn {
	/* Set size */
	width: var(--width);
	height: var(--height);
	/* Set background color */
	background-color: #fff;
	/* Set border radius */
	border-radius: 50%;
	/* Set box shadow */
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	/* Set transition */
	transition: all 0.2s ease-in-out;
}

.policiesBtn {
	/* Set size */
	width: var(--width);
	height: var(--height);
	/* Set background color */
	background-color: #fff;
	/* Set border radius */
	border-radius: 50%;
	/* Set box shadow */
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	/* Set transition */
	transition: all 0.2s ease-in-out;
}

.lawOrderBtn {
	/* Set size */
	width: var(--width);
	height: var(--height);
	/* Set background color */
	background-color: #fff;
	/* Set border radius */
	border-radius: 50%;
	/* Set box shadow */
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	/* Set transition */
	transition: all 0.2s ease-in-out;
}

.cabBtn {
	/* Set size */
	width: var(--width);
	height: var(--height);
	/* Set background color */
	background-color: #fff;
	/* Set border radius */
	border-radius: 50%;
	/* Set box shadow */
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	/* Set transition */
	transition: all 0.2s ease-in-out;
}

.sitBtn {
	/* Set size */
	width: var(--width);
	height: var(--height);
	/* Set background color */
	background-color: #fff;
	/* Set border radius */
	border-radius: 50%;
	/* Set box shadow */
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	/* Set transition */
	transition: all 0.2s ease-in-out;
}

.secBtn {
	/* Set size */
	width: var(--width);
	height: var(--height);
	/* Set background color */
	background-color: #fff;
	/* Set border radius */
	border-radius: 50%;
	/* Set box shadow */
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	/* Set transition */
	transition: all 0.2s ease-in-out;
}

.nextQuarterBtn {
	position: absolute;
	top: 0;
	right: 0;
	width: 100px;
	height: 50px;
	background-color: #fff;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	transition: all 0.2s ease-in-out;
}

.points {
	/* Center the points to the screen */
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	/* Center the text */
	text-align: center;
	line-height: 1.5rem;
	/* Set font size */
	font-size: 1.5rem;
	/* Set font weight */
	font-weight: 700;
	/* Set size */
	width: 5rem;
	height: 5rem;
	/* Set background color */
	background-color: #fff;
	/* Set border radius */
	border-radius: 50%;
	/* Set box shadow */
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	/* Set transition */
	transition: all 0.2s ease-in-out;
}

.policyContainer {
	position: absolute;
	top: 0;
	z-index: -99;
	height: 100%;
	width: 100%;
	background-color: #fff;
	transition: all 0.2s ease-in-out;
}

.policyContainer h2 {
	text-align: center;
}

.foreignPoliciesContainer {
	box-sizing: border-box;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -99;
	height: 50%;
	width: 50%;
	border: 5px solid #000;
}

.taxPoliciesContainer {
	box-sizing: border-box;
	position: absolute;
	top: 0;
	right: 0;
	z-index: -99;
	height: 50%;
	width: 50%;
	border: 5px solid #000;
}

.lawOrderPoliciesContainer {
	box-sizing: border-box;
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: -99;
	height: 50%;
	width: 50%;
	border: 5px solid #000;
}

.econTransPoliciesContainer {
	box-sizing: border-box;
	position: absolute;
	bottom: 0;
	right: 0;
	z-index: -99;
	height: 50%;
	width: 50%;
	border: 5px solid #000;
}
